.gameMainContentMain{
    display: flex;
    width: 24.7%;
    cursor: pointer;
}

.gamesMain{
    width: 97%;
    /* background-color: red; */
    margin: auto;
    margin-top: 23px;
    max-width:97%;
    word-break: break-all !important;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.gameMainContentMain{
    display: flex;
    width: 24.7%;
}
.gameMainContent{
    width: 100%;
    aspect-ratio: 24/11.3;
    aspect-ratio: 24/15;
    background-color: rgba(218, 218, 218, 0.144);
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    border: solid 1px #121f4e8a;
}
.gameMainContentSpace{
    width: 100%;
    height: calc(100% - 40px);
    overflow: hidden;
}
.gameMainContentImg{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transform-origin: center center;
    transition: transform 0.3s ease;
    z-index: 0;
    position: absolute;
}
.gameMainContentImg:hover{
    transform: scale(1.2);
    z-index: 2;
}
.gameMainContentTitle{
    color: white;
    font-family: "mainFont";
    font-weight: 1000;
    font-size: 130%;
    text-shadow: 0 0 8px #000;
    z-index: 1000;
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
}
.gameMainContentInfo{
    width: 100%;
    height: 32px;
    display: flex;
    background-color: rgb(36 40 52);
    z-index: 1;
}
.gameMainContentSpace{
    position: relative;
}
.gameMainContentDiff{
    width: 28px;
    margin-top: 9px;
    margin-left: 8px;
}