.promMainGameDiff{
    display: flex;
}
.promMainGameDiffIcon{
    width: 45px;
    height: 45px;
    text-shadow: 0 0 8px #000;
    /* margin-top:2px; */
}
.promMainGameDiff{
    color: #2ac670;
    font-family: "mainFont";
    font-weight: 1000;
    font-size: 33px;
}
.promMainGameDiffText{
    /* margin-top: 9px; */
    line-height: 45px;
    margin-left: 1px;
    text-shadow: 0 0 8px #000;

}
.promMainGameDiffIconMini{
    width: 28px;
    height: 28px;
    text-shadow: 0 0 8px #000;
}